{% extends "layout_logout.html" %}

{% block pagename %}LEMOINE{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../static/css/lemoine.css"/>{% endblock %}

{% block header %}
<div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12">
        <img src="../static/data/img/anne.jpg" alt="Lemoine" title="Anne Lemoine"/>
    </div>
    <div class="col-md-9 col-sm-12 col-xs-12">
        <h1>ANNE LEMOINE</h1>
        <h3>Etudiante à l'Ecole Nationale de l'Aviation Civile</h3>
        <h5>Née le 18/07/2000</h5>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <section id="gauche">
            <div class="col-xs-12 col-md-6 col-sm-6">
                <article>
                    <h4>Savoir-être</h4>
                    <p>
                        Capacité d'adaptation
                        <br />Sens de l'organisation
                        <br />Rigueur
                        <br />Curiosité
                        <br />Persévérance
                        <br />Prise de recul
                    </p>
                </article>
                <article>
                    <h4>Centres d'intérêt</h4>
                    <ul>
                        <li>Aéronautique</li>
                        <p>
                            Photographie d'avions
                            <br />Construction de maquettes d'avion
                            <br />Visite du SIAE du Bourget 2017 et 2019 et du meeting aérien de Morlaix 2014
                        </p>
                        <li>Voyages</li>
                        <p>
                            Canada (Québec)
                            <br />Angleterre
                            <br />Allemagne (Berlin, Munich)
                            <br />Autriche
                            <br />Finlande
                        </p>
                        <li>Histoire</li>
                        <p>Seconde Guerre mondiale</p>
                        <li>Sport</li>
                        <p>
                            Handball
                            <br />Equitation (galop 3)
                            <br />Course à pied
                            <br />Tennis
                        </p>
                    </ul>
                </article>
                <article>
                    <h4>Contact</h4>
                    <table>
                        <tbody>
                            <tr>
                                <td><i class="fas fa-phone-alt"></i></td>
                                <td><p>06 71 88 24 99</p></td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-envelope"></i></td>
                                <td><p>anne.lemoine@alumni.enac.fr</p></td>
                            </tr>
                            <tr>
                                <td><i class="fab fa-linkedin"></i></td>
                                <td><p>linkedin.com/in/anne-lemoinea80615206</p></td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-house-user"></i></td>
                                <td><p>7 avenue Edouard Belin, 31400 Toulouse</p></td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </div>
        </section>
    </div>

    <div class="col-md-6">
        <section id="droite">
            <div class="col-xs-12 col-md-6 col-sm-6">
                <article>
                    <h4>Formation</h4>
                    <ul>
                        <li>Ecole Nationale de l'Aviation Civile - Toulouse</li>
                        <p>
                            Depuis septembre 2020
                            <br />Formation Ingénieur ENAC civil
                        </p>
                        <li>Lycée La Pérouse-Kerichen/Vauban - Brest</li>
                        <p>
                            2018-2020
                            <br />Classes Préparatoires aux Grandes Ecoles – filière MPSI/PSI
                        </p>
                    <li>Lycée Saint-Esprit - Landivisiau</li>
                        <p>
                            2015-2018
                            <br />Baccalauréat en série S-SVT – option mathématiques – section européenne : mention Très Bien
                        </p>
                    </ul>
                </article>
           </div>
           <div class="col-xs-12 col-md-6 col-sm-6">
               <article>
                <h4>Expériences professionnelles</h4>
                <ul>
                    <li>Stages d'observation en entreprise</li>
                    <p>
                        2017 : Eolane, concepteur de cartes électroniques – Douarnenez
                        <br />2016 : Base Aéronautique Navale – Landivisiau
                        <br />2015 : Centre en Route de la Navigation Aérienne Ouest – Loperhet
                    </p>
                    <li>RGIS - Ramonville-Saint-Agne : Inventoriste</li>
                    <p>
                        Janvier à Mars 2021
                    </p>
                    <li>E.Leclerc - Landivisiau : Hôtesse de caisse</li>
                    <p>
                        Juillet 2018 et 2019
                    </p>
                    <li>Eta Bléas - Landivisiau :  Ramassage d'échalotes</li>
                    <p>
                        Juillet 2017
                    </p>
                </ul>
            </article>
           </div>
           <div class="col-xs-12 col-md-6 col-sm-6">
                <article>
                    <h4>Compétences</h4>
                    <ul>
                        <li>Informatique</li>
                        <p>
                            Langages Python, HTML, CSS
                            <br />Matlab
                            <br />Microsoft Word
                            <br />Audacity
                        </p>
                        <li>Langues</li>
                        <p>
                            Anglais - First Certificate of Cambridge - niveau B2
                            <br />Allemand - niveau A2
                        </p>
                        <li>Permis de conduire (2018)</li>
                        <li>Certificat de compétences de citoyen de sécurité civile</li>
                        <p>
                            Prévention et secours civiques de niveau 1
                        </p>
                    </ul>
                </article>
           </div>
        </section>
    </div>

</div>
{% endblock %}